{
  "plugins": ["source-map-support"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.10"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "sourceMap": "inline",
  "retainLines": true
}
